<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths</title>
    <!-- Autres balises meta, liens vers des feuilles de style, etc. peuvent être ajoutés ici -->
</head>
<body>
    <!-- Ajout d'une balise <div> pour afficher le résultat de executeQuery() -->
        <div id="result">
            <h2>Résultats de la requête :</h2>
            <pre>{{ results | json }}</pre>
        </div>

    <script>
        // Faire une requête à l'API pour obtenir les résultats
        fetch('http://localhost:3000/results')
            .then(response => response.json())
            .then(results => {
                // Afficher les résultats dans la balise <div> avec l'ID "result"
                var resultDiv = document.getElementById("result");
                resultDiv.innerHTML = "<h2>Résultats de la requête :</h2><pre>" + JSON.stringify(results, null, 2) + "</pre>";
            })
            .catch(error => {
                console.error('Erreur lors de la récupération des résultats :', error);
            });
    </script>
</body>
</html>