
  <div class="container">
    <div class="banner text-center my-4">
      <h1>SUJETS DE BAC</h1>
      <p>Le site référence des sujets de bac ! </p>
      <p>Bienvenue sur notre plateforme dédiée à la préparation aux examens du baccalauréat.</p>
      <p>Trouvez ici une collection complète de sujets classés par matière pour vous aider à vous préparer
        efficacement.</p>
      <p>Vous pourrez :</p>
      <ul class="text-left">
        <li>Visualiser des annales de bac</li>
        <li>Vous entraîner en testant vos compétences</li>
        <li>Avoir accès à plein de matières différentes</li>
        <li>Vous préparer pour vos examens</li>
        <li>Et bien plus encore !</li>
      </ul>
      <img src="https://lycee-marchal.com/sites/default/files/imce/spe-maths-image.jpg" alt="Sujets de Bac"
        class="img-fluid my-3">
    </div>
  </div>
