
  <div class="container">
    <h1 class="mt-5">Annales de Physique</h1>

    <h2 class="mt-4">Bac 2020 Physique</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[8]?.url }}">Sujet 1</a></li>
      <li class="list-group-item"><a href="{{ subjects[9]?.url }}">Correction 1</a></li>
    </ul>

    <img src="https://img.freepik.com/vecteurs-libre/contexte-scientifique-retro_23-2148557500.jpg?w=900&t=st=1704054502~exp=1704055102~hmac=3a7f7fb203545cedd44d1980dbf87c0a9fcbd35c7b77dee73dce58797e85efcb" alt="Physique Image" class="img-fluid my-3">
  </div>

