
  <div class="container">
    <h1 class="mt-5">Annales de Français</h1>

    <h2 class="mt-4">Bac 2021 Antilles</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[2]?.url }}">Exam 1</a></li>
    </ul>

    <h2 class="mt-4">Bac 2021 France</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[3]?.url }}">Exam 1</a></li>
    </ul>

    <img src="https://media.istockphoto.com/id/1054778956/fr/vectoriel/francais.jpg?s=612x612&w=0&k=20&c=b538tgfr0ZXotnGZ2KRB6qL9lbGsDcVRJusQFhXLRbA="
      alt="French Image" class="img-fluid my-3">
  </div>