
  <div class="container">
    <h1 class="mt-5">Annales de Philosophie</h1>

    <h2 class="mt-4">Bac 2022 Asie</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[4]?.url }}">Sujet 1</a></li>
    </ul>
    <h2 class="mt-4">Bac 2023 Polynésie</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[5]?.url }}">Sujet 2</a></li>
    </ul>

    <img src="https://fr.unesco.org/sites/default/files/styles/extra_large_1600x1600/public/unesco-paragraphs/philosophy_home_940px.jpg?itok=fVbmJ7ic" alt="Philosophie Image" class="img-fluid my-3">
  </div>