
  <div class="container">
    <h1 class="mt-5">Annales de Mathematique</h1>

    <h2 class="mt-4">Bac 2021 Mathematique</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ subjects[0]?.url }}">Sujet 1</a></li>
      <li class="list-group-item"><a href="{{ subjects[1]?.url }}">Sujet 2</a></li>
    </ul>

    <img src="https://img.freepik.com/vecteurs-premium/livre-ouvert-formule-mathematique-tableau-noir_1639-28066.jpg" alt="Mathematique Image" class="img-fluid my-3">
  </div>