<div class="container">
    <!-- Bannière -->
    <div class="banner text-center my-4">
      <h1>SUJET de BAC</h1>
      <p>Le site qui référence des sujets de bac !</p>
    </div>
  
    <!-- Navigation des matières -->
    <div class="row">
      <div class="col">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Français</a>
          <a href="#" class="list-group-item list-group-item-action">Mathématiques</a>
          <a href="#" class="list-group-item list-group-item-action">Histoire</a>
          <a href="#" class="list-group-item list-group-item-action">Physique</a>
          <!-- Ajoutez d'autres matières ici -->
        </div>
      </div>
    </div>
  </div>
  